.content-page {
    margin-left: 260px;
    padding: 12px 0px 0px 10px;
    /* top right bottom left */
    min-height: 100vh;
    border-radius: 8px;
}

.container-fluid {
    width: 100%;
    padding-right: 10px;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.leftside-menu {
    width: 230px;
    z-index: 10;
    background: linear-gradient(200deg, #343A40, #1C4B9B);
    bottom: 10px;
    top: 10px;
    left: 10px;
    position: fixed;
    padding-top: 70px;
    -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
    border-radius: 10px;
}

.interface-padrao {
    height: 100%;
    /* Garante que o container tenha altura total */
    flex-grow: 1;
    /* Faz com que o componente cresça para ocupar o espaço disponível */
    padding-bottom: 0px;
}

.app-container {
    background-color: #202020;
}

.card-hover {
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card-hover-primary {
    background-color: #007bff;
}

.card-hover-primary:hover {
    background-color: #1f618d;
    transform: scale(1.05);
}

.card-hover-gray {
    background-color: #34495e;
}

.card-hover-gray:hover {
    background-color: #5a6268;
    transform: scale(1.05);
}