.content-page {
    margin-left: 260px;
    overflow: hidden;
    padding: 12px 10px 65px;
    min-height: 100vh;
}


.leftside-menu {
    width: 230px;
    z-index: 10;
    background: linear-gradient(200deg, #343A40, #1C4B9B);
    bottom: 10px;
    /* Espaçamento inferior */
    top: 10px;
    /* Espaçamento superior */
    left: 10px;
    /* Espaçamento à esquerda */
    right: 10px;
    /* Espaçamento à direita */
    position: fixed;
    padding-top: 70px;
    -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
    border-radius: 10px;
    /* Para dar bordas arredondadas */
}

.container-fluid {
    width: 100%;
    padding-right: var(--bs-gutter-x, 12px);
    padding-left: var(--bs-gutter-x, 12px);
    margin-right: auto;
    margin-left: auto;
}

.app-container {
    background-color: #202020;
}